Repository braydenbabbitt/modular-music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: created program page
  src/App.tsx
  src/pages/dashboard/components/programs-block.component.tsx
  src/pages/program/create-program.page.tsx
  src/pages/program/types.ts
  src/services/auth/auth.provider.tsx
  src/services/supabase/programs/programs.api.ts
  supabase/config.toml
Due: prettier --write, eslint --fix

feat(programs): added to program page
  src/App.tsx
  src/components/navbars/header-navbar.component.tsx
  src/pages/dashboard/components/programs-block.component.tsx
  src/pages/program/program.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/supabase/programs/programs.api.ts
  src/services/supabase/programs/sources.api.ts
  src/services/supabase/types/database.types.ts
  src/services/supabase/utils.ts
Due: prettier --write, eslint --fix

feat(programs): implemented user playlist source lookup
  public/playlist-icon@512.png
  src/pages/dashboard/components/programs-block.component.tsx
  src/pages/program/program.page.tsx
  src/services/auth/types.ts
  src/services/spotify/spotify.api.ts
  src/services/spotify/types.ts
Due: prettier --write, eslint --fix

refactor: renamed programs to modules
  src/App.tsx
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/dashboard/dashboard.page.tsx
  src/pages/module/module.page.tsx
  src/pages/module/types.ts
  src/pages/program/types.ts
  src/services/auth/auth.provider.tsx
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/modules/types.ts
  src/services/supabase/types/database.types.ts
Due: prettier --write, eslint --fix

refactor: updated eslint to use jsx-runtime
  .eslintrc
  src/App.tsx
  src/components/containers/page-container.component.tsx
  src/components/images/modular-music-logo.tsx
  src/components/navbars/header-navbar.component.tsx
  src/pages/account/settings.page.tsx
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/dashboard/dashboard.page.tsx
  src/pages/home/home.page.tsx
  src/pages/module/module.page.tsx
  src/pages/spotify/spotify-login.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/supabase/client/client.tsx
Due: prettier --write, eslint --fix

feat: update sources on module page
  .eslintrc
  package.json
  public/playlist-icon-responsive.svg
  src/assets/icons/playlist-icon.component.tsx
  src/pages/module/components/source-row.component.tsx
  src/pages/module/components/source-selector-modal.component.tsx
  src/pages/module/module.page.tsx
  src/pages/module/types.ts
  src/services/auth/auth.provider.tsx
  src/services/supabase/client/client.tsx
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/types/database.types.ts
Due: prettier --write, eslint --fix

refactor: refactored options for each source type
  public/recently-listened.png
  public/spotify-heart.png
  public/spotify-heart.svg
  src/assets/icons/playlist-icon.component.tsx
  src/pages/module/components/source-item.component.tsx
  src/pages/module/components/source-row.component.tsx
  src/pages/module/components/source-selector-modal.component.tsx
  src/pages/module/module.page.tsx
  src/services/supabase/client/client.tsx
  src/services/supabase/constants.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/types/database.types.ts
  src/services/supabase/utils.ts
  src/theme/index.ts
Due: prettier --write, eslint --fix

feat: various refactor and adding actions start
  .vscode/launch.json
  public/shuffle-icon.svg
  src/components/buttons/back-button.component.tsx
  src/components/images/modular-music-logo.tsx
  src/components/navbars/header-navbar.component.tsx
  src/hooks/use-layout-size.ts
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/module/components/actions/action-item.component.tsx
  src/pages/module/components/actions/action-selector-modal.component.tsx
  src/pages/module/components/actions/actions-section.component.tsx
  src/pages/module/components/source-selector-modal.component.tsx
  src/pages/module/components/sources/source-item.component.tsx
  src/pages/module/components/sources/source-selector-modal.component.tsx
  src/pages/module/components/sources/sources-section.component.tsx
  src/pages/module/module.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/spotify/spotify.api.ts
  src/services/supabase/modules/actions.api.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/types/database.types.ts
Due: prettier --write, eslint --fix

feat: implemented actions modal
  public/filter-icon.svg
  src/pages/module/components/actions/action-selector-modal.component.tsx
  src/pages/module/components/actions/actions-section.component.tsx
  src/pages/module/components/sources/source-item.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/components/sources/source-selector-modal.component.tsx
  src/pages/module/components/sources/sources-section.component.tsx
  src/pages/module/module.page.tsx
  src/pages/module/types.ts
  src/services/auth/auth.provider.tsx
  src/services/supabase/constants.ts
  src/services/supabase/modules/actions.api.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/types/database.types.ts
  src/services/supabase/utils.ts
  src/utils/custom-json-encoder.ts
  src/utils/description-converters.ts
Due: prettier --write, eslint --fix

feat(app): everything, this is a big commit
  package-lock.json
  package.json
  src/App.tsx
  src/components/buttons/info-hover-button.component.tsx
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/module/components/actions/action-item.component.tsx
  src/pages/module/components/actions/actions-section.component.tsx
  src/pages/module/components/module-name-field.component.tsx
  src/pages/module/components/module-schedule-modal.component.tsx
  src/pages/module/components/output/output-section.component.tsx
  src/pages/module/components/output/output-selector-modal.component.tsx
  src/pages/module/components/select-create-playlist.component.tsx
  src/pages/module/components/sources/source-item.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/components/sources/sources-section.component.tsx
  src/pages/module/module-deprecated.page.tsx
  src/pages/module/module.page.tsx
  src/pages/module/views/create.component.tsx
  src/pages/module/views/create.page.tsx
  src/pages/module/views/edit-module.component.tsx
  src/services/auth/auth.provider.tsx
  src/services/spotify/spotify.api.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/types/database.types.ts
  src/theme/colors/colors.ts
  src/theme/index.ts
Due: prettier --write, eslint --fix

ci: fixed eslint
  package-lock.json
  package.json
Due: none

feat(edge-functions): init edge functions
  .vscode/settings.json
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/filter-song-list.ts
  supabase/functions/execute-module/module-actions/mapped-actions.ts
  supabase/functions/execute-module/module-actions/shuffle-song-list.ts
  supabase/functions/execute-module/spotify/get-sources.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/spotify/types.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/execute-module/types/generics.ts
  supabase/functions/execute-module/validation/validate-request.ts
Due: eslint --fix

feat(app): bringing main up to date
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/buttons/day-of-week-selector.component.tsx
  src/pages/home/home.page.tsx
  src/pages/module/components/module-name-field.component.tsx
  src/pages/module/components/module-schedule-modal.component.tsx
  src/pages/module/components/output/output-section.component.tsx
  src/pages/module/components/output/output-selector-modal.component.tsx
  src/pages/module/module.page.tsx
  src/pages/module/views/create.component.tsx
  src/services/auth/auth.provider.tsx
  src/services/supabase/constants.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/types/database.types.ts
  src/services/supabase/utils.ts
  src/utils/constants.ts
  src/utils/ordinal-numbers.ts
  src/utils/schedule-helpers.ts
Due: prettier --write, eslint --fix

chore: generated updated types
  package.json
  src/services/supabase/types/database.types.ts
  supabase/functions/execute-module/types/database.ts
Due: prettier --write, eslint --fix

chore: update supabase db major_version
  supabase/config.toml
Due: none

chore: added scripts and gen types
  package.json
  src/services/supabase/types/database.types.ts
  supabase/functions/execute-module/types/database.ts
Due: prettier --write, eslint --fix

feat(edge-functions): added fetch-recently-listened
  package.json
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-recently-listened/spotify/types.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-recently-listened/types/generics.ts
  supabase/functions/fetch-recently-listened/validation/validate-request.ts
Due: eslint --fix

feat: added documentation, gen types & finished fetch-recently-listened
  package.json
  src/pages/module/module.page.tsx
  src/services/supabase/types/database.types.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-recently-listened/validation/validate-request.ts
Due: prettier --write, eslint --fix

style(edge-functions): removed console.log
  supabase/functions/fetch-recently-listened/index.ts
Due: eslint --fix

feat: set up cron job
  package.json
  src/pages/account/settings.page.tsx
  src/services/auth/auth.provider.tsx
  supabase/functions/set-up-user-recently-listened-cron-job/index.ts
Due: prettier --write, eslint --fix

feat: finish recently listened fetch & start actions
  src/pages/spotify/spotify-login.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/supabase/types/database.types.ts
  supabase/functions/execute-module/database-helpers/get-module-actions.ts
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/database-helpers/supabase-response-handlers.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/constants.ts
  supabase/functions/execute-module/module-actions/mapped-actions.ts
  supabase/functions/execute-module/module-actions/run-module-action.ts
  supabase/functions/execute-module/module-actions/shuffle-song-list.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-recently-listened/types/database.ts
Due: prettier --write, eslint --fix

fix(functions:fetch-recently-listened): fixed token update table
  .vscode/settings.json
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
Due: eslint --fix

feat: added a bunch of stuff for edge functions
  src/pages/module/components/actions/action-item.component.tsx
  src/pages/module/components/actions/action-selector-modal.component.tsx
  src/pages/module/components/module-schedule-modal.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/module.page.tsx
  src/pages/module/views/edit-module.component.tsx
  src/services/spotify/spotify.api.ts
  src/services/supabase/types/database.types.ts
  src/utils/constants.ts
  src/utils/date-utils.ts
  supabase/functions/execute-module/database-helpers/cron-helpers.ts
  supabase/functions/execute-module/database-helpers/get-action-sources.ts
  supabase/functions/execute-module/database-helpers/get-module-actions.ts
  supabase/functions/execute-module/database-helpers/get-module-output.ts
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/filter-song-list.ts
  supabase/functions/execute-module/module-actions/run-module-action.ts
  supabase/functions/execute-module/spotify/get-sources.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/spotify/playlist-writing.ts
  supabase/functions/execute-module/spotify/token-helpers.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/execute-module/types/generics.ts
  supabase/functions/execute-module/utils/date-utils.ts
  supabase/functions/execute-module/utils/get-random-number.ts
  supabase/functions/execute-module/utils/slice-array.ts
  supabase/functions/execute-module/utils/timing-map.ts
  supabase/functions/execute-module/validation/validate-request.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/set-up-user-recently-listened-cron-job/index.ts
Due: prettier --write, eslint --fix

feat: completed scheduling
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  src/pages/module/components/module-schedule-modal.component.tsx
  src/services/supabase/modules/modules.api.ts
  src/utils/date-utils.ts
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/execute-module/utils/date-utils.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/update-module-schedule/db-queries/schedule-next-cron-job.ts
  supabase/functions/update-module-schedule/db-queries/unschedule-cron-job.ts
  supabase/functions/update-module-schedule/index.ts
  supabase/functions/update-module-schedule/should-be-rescheduled.ts
  supabase/functions/update-module-schedule/types/database.ts
  supabase/functions/update-module-schedule/utils/dayjs-to-cron.ts
  supabase/functions/update-module-schedule/validation/validate-request.ts
Due: prettier --write, eslint --fix

fix: Fixed table name
  supabase/functions/execute-module/spotify/get-token.ts
Due: eslint --fix

fix: added retry for getNextPage
  supabase/functions/execute-module/spotify/get-sources.ts
Due: eslint --fix

ci: added firebase hosting deployments for main and branches
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Due: none

ci: added npm ci
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: fix dependency issues
  package-lock.json
  package.json
Due: none

ci: use legacy peer deps
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: fixed types issues
  src/pages/module/module-deprecated.page.tsx
  src/services/supabase/constants.ts
Due: prettier --write, eslint --fix

ci: added env vars to workflow
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: moved env variables in workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: changed to retry after final fetch
  supabase/functions/execute-module/spotify/get-sources.ts
Due: eslint --fix

ci: added supabase function deployment workflow
  .github/workflows/deploy-supabase-functions.yml
Due: none

fix: fix json of update_module_schedule invokation
  supabase/functions/execute-module/index.ts
Due: eslint --fix

chore: updated db types
  src/services/supabase/types/database.types.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: prettier --write, eslint --fix

fix: fixed update payload
  src/services/supabase/modules/modules.api.ts
Due: prettier --write, eslint --fix

fix: mostly fixed
  src/services/auth/auth.provider.tsx
  src/services/supabase/modules/modules.api.ts
  supabase/functions/execute-module/database-helpers/cron-helpers.ts
  supabase/functions/update-module-schedule/db-queries/schedule-next-cron-job.ts
  supabase/functions/update-module-schedule/index.ts
  supabase/functions/update-module-schedule/types/generics.ts
  supabase/functions/update-module-schedule/utils/dayjs-to-cron.ts
  supabase/functions/update-module-schedule/validation/validate-request.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: {src,tests,example/src}/**/*.{js,ts,jsx,tsx}
  eslint --fix: any of: {**/*,*}.{js,ts,jsx,tsx}
