Repository braydenbabbitt/modular-music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: implemented improved saved tracks fetch
  package.json
  src/services/auth/auth.provider.tsx
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/spotify/get-sources.ts
  supabase/functions/execute-module/spotify/get-tracks-no-longer-saved.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/execute-module/types/generics.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/database-helpers/get-last-user-saved-tracks.ts
  supabase/functions/fetch-users-saved-tracks/dependencies.ts
  supabase/functions/fetch-users-saved-tracks/index.ts
  supabase/functions/fetch-users-saved-tracks/spotify/get-token.ts
  supabase/functions/fetch-users-saved-tracks/spotify/get-user-saved-tracks.ts
  supabase/functions/fetch-users-saved-tracks/spotify/helpers.ts
  supabase/functions/fetch-users-saved-tracks/spotify/types.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/generics.ts
  supabase/functions/fetch-users-saved-tracks/validation/validate-request.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: prettier --write, eslint --fix

fix: fixed execute-module
  supabase/functions/execute-module/index.ts
Due: eslint --fix

fix: updated function execution and fixed various bugs
  .github/workflows/deploy-supabase-functions.yml
  package-lock.json
  src/pages/module/components/actions/actions-section.component.tsx
  src/pages/module/module.page.tsx
  supabase/functions/execute-module/database-helpers/get-action-sources.ts
  supabase/functions/execute-module/database-helpers/get-module-actions.ts
  supabase/functions/execute-module/database-helpers/get-module-output.ts
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/filter-song-list.ts
  supabase/functions/execute-module/spotify/get-sources.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/spotify/get-tracks-no-longer-saved.ts
  supabase/functions/execute-module/validation/validate-request.ts
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
  supabase/functions/fetch-users-saved-tracks/dependencies.ts
  supabase/functions/update-module-schedule/db-queries/schedule-next-cron-job.ts
  supabase/functions/update-module-schedule/index.ts
  supabase/functions/update-module-schedule/should-be-rescheduled.ts
Due: prettier --write, eslint --fix

fix: fixed auth event type
  src/services/auth/auth.provider.tsx
Due: prettier --write, eslint --fix

refactor: switched everything to import maps
  .vscode/settings.json
  supabase/functions/execute-module/database-helpers/cron-helpers.ts
  supabase/functions/execute-module/database-helpers/get-action-sources.ts
  supabase/functions/execute-module/database-helpers/get-module-actions.ts
  supabase/functions/execute-module/database-helpers/get-module-output.ts
  supabase/functions/execute-module/database-helpers/get-module-sources.ts
  supabase/functions/execute-module/database-helpers/supabase-response-handlers.ts
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/filter-song-list.ts
  supabase/functions/execute-module/module-actions/shuffle-song-list.ts
  supabase/functions/execute-module/spotify/get-sources.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/spotify/get-tracks-no-longer-saved.ts
  supabase/functions/execute-module/utils/date-utils.ts
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-users-saved-tracks/dependencies.ts
  supabase/functions/fetch-users-saved-tracks/index.ts
  supabase/functions/import_maps.json
  supabase/functions/update-module-schedule/db-queries/schedule-next-cron-job.ts
  supabase/functions/update-module-schedule/db-queries/unschedule-cron-job.ts
  supabase/functions/update-module-schedule/index.ts
  supabase/functions/update-module-schedule/should-be-rescheduled.ts
  supabase/functions/update-module-schedule/utils/dayjs-to-cron.ts
Due: eslint --fix

ci: hopefully this fixes the import map location
  supabase/config.toml
Due: none

ci: removed leading / from import map path
  supabase/config.toml
Due: none

ci: switched to using cli flag instead of config.toml
  .github/workflows/deploy-supabase-functions.yml
  supabase/config.toml
Due: none

fix: fix imports
  supabase/functions/fetch-users-saved-tracks/database-helpers/get-last-user-saved-tracks.ts
  supabase/functions/fetch-users-saved-tracks/spotify/get-token.ts
Due: eslint --fix

refactor: switch to zod for request validation
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/validation/validate-request.ts
  supabase/functions/fetch-recently-listened/validation/validate-request.ts
  supabase/functions/fetch-users-saved-tracks/validation/validate-request.ts
  supabase/functions/import_maps.json
  supabase/functions/update-module-schedule/index.ts
  supabase/functions/update-module-schedule/validation/validate-request.ts
Due: eslint --fix

ci: fixed scopes
  .vscode/settings.json
Due: none

ci: added conditional workflows
  .github/workflows/deploy-execute-module.yml
  .github/workflows/deploy-fetch-recently-listened.yml
  .github/workflows/deploy-fetch-users-saved-tracks.yml
  .github/workflows/deploy-update-module-schedule.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: added ignore to function deployments and fetch-playlist deployment
  .github/workflows/deploy-execute-module.yml
  .github/workflows/deploy-fetch-playlist.yml
  .github/workflows/deploy-fetch-recently-listened.yml
  .github/workflows/deploy-update-module-schedule.yml
  package.json
Due: none

feat: init fetch-playlist
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-playlist/index.ts
  supabase/functions/fetch-playlist/spotify/fetch-playlist.ts
  supabase/functions/fetch-playlist/spotify/get-token.ts
  supabase/functions/fetch-playlist/spotify/token-helpers.ts
  supabase/functions/fetch-playlist/spotify/types.ts
  supabase/functions/fetch-playlist/types/database.ts
  supabase/functions/fetch-playlist/validation/validate-request.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: eslint --fix

feat: added playlist fetching logic
  supabase/functions/fetch-playlist/index.ts
  supabase/functions/fetch-playlist/spotify/fetch-playlist.ts
  supabase/functions/fetch-playlist/spotify/types.ts
Due: eslint --fix

ci: ignore generated types for PR preview deployment
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: ignore gen types for deploy apps
  .github/workflows/firebase-hosting-merge.yml
Due: none

ci: fixed ci paths
  .github/workflows/deploy-execute-module.yml
  .github/workflows/deploy-fetch-playlist.yml
  .github/workflows/deploy-fetch-recently-listened.yml
  .github/workflows/deploy-fetch-users-saved-tracks.yml
  .github/workflows/deploy-update-module-schedule.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: added import-map flag to function deployment scripts
  package.json
Due: none

refactor(functions): use fetch-playlist edge function instead of fetching manually
  supabase/functions/execute-module/spotify/get-sources.ts
Due: eslint --fix

fix(functions): updated invokation of getSourcesFromSpotify
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/spotify/get-sources.ts
Due: eslint --fix

fix(functions): updated other invokation of getSourcesFromSpotify
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/module-actions/filter-song-list.ts
  supabase/functions/execute-module/spotify/get-sources.ts
Due: eslint --fix

fix(functions): fixed emptyPlaylist issue
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/spotify/playlist-writing.ts
Due: eslint --fix

chore: fixed peer dependencies issue
  package-lock.json
  package.json
Due: none

fix(app): fixed redirect and auth issues
  src/components/navbars/header-navbar.component.tsx
  src/pages/account/settings.page.tsx
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/home/home.page.tsx
  src/pages/module/components/actions/action-item.component.tsx
  src/pages/module/components/actions/action-selector-modal.component.tsx
  src/pages/module/components/actions/actions-section.component.tsx
  src/pages/module/components/module-schedule-modal.component.tsx
  src/pages/module/components/output/output-selector-modal.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/components/sources/source-selector-modal.component.tsx
  src/pages/module/components/sources/sources-section.component.tsx
  src/pages/module/module.page.tsx
  src/pages/newsletter/unsubscribe.page.tsx
  src/pages/spotify/spotify-login.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/spotify/spotify.api.ts
  src/services/supabase/client/client.tsx
  src/services/supabase/modules/feature-flags.api.ts
Due: prettier --write, eslint --fix

fix: remove location.origin from redirect
  src/services/auth/auth.provider.tsx
Due: prettier --write, eslint --fix

ci: removed legacy peer deps flag from ci
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: added workflow_dispatch
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix: fixed auth-based routing behavior
  src/pages/home/home.page.tsx
  src/services/auth/auth.provider.tsx
Due: prettier --write, eslint --fix

ci: added gen-types pre-commit
  .husky/pre-commit
Due: none

ci: updated type gen to use copy
  package.json
  src/pages/account/settings.page.tsx
  src/pages/module/types.ts
  src/services/auth/auth.provider.tsx
  src/services/supabase/modules/actions.api.ts
  src/services/supabase/modules/modules.api.ts
  src/services/supabase/modules/sources.api.ts
  src/services/supabase/newsletter/newsletter.api.ts
  src/services/supabase/types/database.ts
Due: prettier --write, eslint --fix

fix(app): changed recently listened limit to 1 month
  src/pages/module/components/sources/source-selection-form.component.tsx
Due: prettier --write, eslint --fix

fix(app): only show modal when user has selected recently listened
  src/pages/module/components/sources/source-selection-form.component.tsx
Due: prettier --write, eslint --fix

fix(app): fixed negative day diff
  src/pages/module/components/sources/source-selection-form.component.tsx
Due: prettier --write, eslint --fix

feat: added get-spotify-token edge-function
  .github/workflows/deploy-get-spotify-token.yml
  package.json
  src/App.tsx
  src/pages/dashboard/components/modules-block.component.tsx
  src/pages/module/components/select-create-playlist.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/module.page.tsx
  src/pages/spotify/spotify-login.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/supabase/modules/feature-flags.api.ts
  supabase/functions/execute-module/spotify/get-token.ts
  supabase/functions/execute-module/types/generics.ts
  supabase/functions/fetch-playlist/spotify/get-token.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-users-saved-tracks/spotify/get-token.ts
  supabase/functions/get-spotify-token/index.ts
  supabase/functions/get-spotify-token/spotify-helpers/refresh-token.ts
  supabase/functions/get-spotify-token/types/database.ts
  supabase/functions/get-spotify-token/validation/validate-request.ts
Due: prettier --write, eslint --fix

refactor(functions): switched execute-module to get-spotify-token function
  supabase/functions/execute-module/index.ts
  supabase/functions/execute-module/spotify/get-token.ts
Due: eslint --fix

refactor(functions): switch fetch-playlist to get-spotify-token
  supabase/functions/fetch-playlist/index.ts
  supabase/functions/fetch-playlist/spotify/get-token.ts
  supabase/functions/fetch-playlist/types/generics.ts
Due: eslint --fix

refactor(functions): switched fetch-recently-listened to get-spotify-token
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-token.ts
  supabase/functions/fetch-recently-listened/types/generics.ts
Due: eslint --fix

refactor(functions): switched fetch-users-saved-tracks to get-spotify-token
  supabase/functions/fetch-users-saved-tracks/index.ts
  supabase/functions/fetch-users-saved-tracks/spotify/get-token.ts
  supabase/functions/fetch-users-saved-tracks/types/generics.ts
Due: eslint --fix

fix: switched to get-spotify-token for everything
  src/App.tsx
  src/hooks/use-spotify-token.ts
  src/pages/module/components/select-create-playlist.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/module.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/spotify/spotify-token.provider.tsx
  supabase/functions/get-spotify-token/index.ts
  supabase/functions/get-spotify-token/spotify-helpers/refresh-token.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: {src,tests,example/src}/**/*.{js,ts,jsx,tsx}
  eslint --fix: any of: {**/*,*}.{js,ts,jsx,tsx}
