Repository braydenbabbitt/modular-music: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "{src,tests,example/src}/**/*.{js,ts,jsx,tsx}": [
      "prettier --write"
    ],
    "{**/*,*}.{js,ts,jsx,tsx}": [
      "eslint --fix"
    ]
}

fix: added loader for spotifyToken
  src/components/containers/page-container.component.tsx
  src/pages/module/components/select-create-playlist.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/module.page.tsx
  src/services/auth/auth.provider.tsx
  src/services/spotify/spotify-token.provider.tsx
Due: prettier --write, eslint --fix

fix(app): fixed issue with SpotifyTokenProvider when no user
  src/services/spotify/spotify-token.provider.tsx
Due: prettier --write, eslint --fix

fix: fixed metadata being overwritten
  src/services/auth/auth.provider.tsx
  supabase/functions/get-spotify-token/index.ts
Due: prettier --write, eslint --fix

fix(app): fix create playlist bug
  src/hooks/use-spotify-token-query.ts
  src/pages/module/components/output/output-section.component.tsx
  src/pages/module/components/output/output-selector-modal.component.tsx
  src/pages/module/components/select-create-playlist.component.tsx
  src/pages/module/components/sources/source-item.component.tsx
  src/pages/module/components/sources/source-selection-form.component.tsx
  src/pages/module/module.page.tsx
  src/services/spotify/spotify-token.provider.tsx
Due: prettier --write, eslint --fix

chore(app): added spotify web-api-ts-sdk
  package-lock.json
  package.json
Due: none

fix(app): handled unverified spotify email error
  src/App.tsx
  src/pages/error/error.page.tsx
  src/pages/error/unverified-email-error.tsx
  src/pages/home/home.page.tsx
  src/utils/constants.ts
Due: prettier --write, eslint --fix

chore: db gen
  src/services/supabase/types/database.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-playlist/types/database.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/get-spotify-token/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: prettier --write, eslint --fix

chore(cicd): update pre-commit
  .husky/pre-commit
  .vscode/settings.json
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-playlist/types/database.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/get-spotify-token/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: eslint --fix

fix(functions): handled users that aren't registered in dev dashboard
  supabase/functions/fetch-recently-listened/index.ts
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
Due: eslint --fix

chore: db type gen
  src/services/supabase/types/database.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-playlist/types/database.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/get-spotify-token/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: prettier --write, eslint --fix

refactor(functions): added console.log
  supabase/functions/fetch-recently-listened/spotify/get-recently-listened.ts
Due: eslint --fix

refactor: removed brayden-test
  supabase/functions/fetch-recently-listened/index.ts
Due: eslint --fix

feat(app): added basic spotify stuff
  app/src/components/pages/index.ts
  app/src/components/pages/page.tsx
  app/src/providers/react-query/react-query-provider.tsx
  libs/spotify/index.ts
  libs/spotify/search/index.ts
  libs/spotify/search/queries.ts
  libs/supabase/modules/index.ts
  libs/supabase/modules/queries.ts
  libs/supabase/types/database.ts
  supabase/functions/execute-module/types/database.ts
  supabase/functions/fetch-playlist/types/database.ts
  supabase/functions/fetch-recently-listened/types/database.ts
  supabase/functions/fetch-users-saved-tracks/types/database.ts
  supabase/functions/get-spotify-token/types/database.ts
  supabase/functions/update-module-schedule/types/database.ts
Due: eslint --fix

feat(app): added basic spotify stuff part 2
  .eslintrc
  .vscode/settings.json
  app/src/components/avatars/user-avatar-menu.tsx
  app/src/components/index.ts
  app/src/layouts/app/default-app-layout.tsx
  app/src/pages/dashboard.tsx
  app/src/providers/app-providers.tsx
  libs/supabase/index.ts
  package-lock.json
  package.json
Due: eslint --fix
